<h1>Filter By Birth Year</h1>

<p>Use query string to function properly</p>

<h2>Parameters: </h2>
<p><strong>Filter</strong>: equal, before, after</p>
<p><strong>Year</strong> (optional): default value = 2000</p>

<h3>Example:</h3>
<p>/Rookies/FilterByBirthYear?filter=equal</p>
<p>/Rookies/FilterByBirthYear?filter=before&year=2001</p>
