@{
    ViewData["Title"] = "Rookies Actions";
}

<h1>Rookies Actions</h1>

<div class="list-group">
    <a class="list-group-item" asp-action="ViewAllRookies">View All Rookies</a>
    <a class="list-group-item" asp-action="GetMaleRookies">Get Male</a>
    <a class="list-group-item" asp-action="GetOldest">Get Oldest</a>
    <a class="list-group-item" asp-action="GetFullnames">Get Fullnames</a>
    <a class="list-group-item" asp-action="FilterByBirthYear">Filter By Birth Year</a>
    <a class="list-group-item" asp-action="GetExcel">Get Rookies Excel File</a>
</div>